@model WebApplication_Exemplo2.Models.SomaViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("CalcularValores","Soma")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SomaViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Num1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Num1)
                @Html.ValidationMessageFor(model => model.Num1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Num2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Num2)
                @Html.ValidationMessageFor(model => model.Num2)
            </div>
        </div>
        @{
            if (Model != null)
            {
                 <div class="form-group">
                        @Html.LabelFor(model => model.Resultado, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Resultado)
                        </div>
                    </div>
            }     
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Calcular" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
